header.main-header{
	z-index: 99;
    position: relative;
	.upper-part{
		background-color: #083d8c;
		.navigation{
			ul{
				margin: 0;
				padding: 9px 0;
				text-align: right;
				display: block;
				li{
					position: relative;
					padding: 0;
					margin: 0 0 0 45px;
					list-style: none;
					display: inline-block;
					text-align: right;
					&:first-child{
						margin: 0 0 0 0;
					}
					a{
						text-decoration: none;
						color: #fff;
						font-size: 12px;
						font-family: 'OpenSans-Regular';
					}
				}
				li.commercial-service{
					a{
						&::after{
							content: "";
							background-image: url('assets/img/commercial-service.png');
							background-repeat: no-repeat;
							background-size: 13px 10px;
							width: 13px;
							height: 10px;
							display: inline-block;
							margin: 0 0 0 8px;
							top: 1px;
							position: relative;
						}
					}
				}
			}
		}
	}

	.lower-part{
			box-shadow: 0 3px 5px 0 #888888;
			.main-logo{
				.logo{
					margin: 39px 0 32px 0;
				}
			}

			.main-navigation{
				ul{ 
					margin: 0;
					padding: 0 0;
					text-align: right;
					li{
						display: inline-block;
						list-style: none;
						margin: 0 0 0 52px;
						padding: 0;
						
						&:first-child{
							margin: 0;
						}
						a{
							color: #083d8c;
							text-decoration: none;
							font-size: 15px;
							display: inline-block;
							padding: 0;
							font-family: 'OpenSans-Bold';
						}
					}

					li.find-poolpros{
						padding: 14px 19px 16px 19px;
						border: 1px solid #216ddf;
						border-radius: 4px;
						text-align: center;
						margin: 21px 0 24px 78px;
						&:before{
							content: "";
							background-image: url('assets/img/location.png');
							background-repeat: no-repeat;
							background-size: 12px 16px;
							width: 12px;
							height: 16px;
							display: inline-block;
							margin: 0 0 0 8px;
							top: 1px;
							position: relative;
						}
						a{
							color: #216ddf;
							text-decoration: none;
							font-size: 15px;
							display: inline-block;
							padding: 0 0 0 11px;
							font-family: 'OpenSans-Bold';
						}
					}
				}
			}
	}
}

.mobile-navigation{
	display: none;
}

@media only screen and (max-width: 1200px){
	header.main-header{
		z-index: 99;
	    position: relative;
		.upper-part{
			background-color: #083d8c;
			.navigation{
				ul{
					margin: 0;
					padding: 9px 0;
					text-align: right;
					display: block;
					li{
						position: relative;
						padding: 0;
						margin: 0 0 0 45px;
						list-style: none;
						display: inline-block;
						text-align: right;
						&:first-child{
							margin: 0 0 0 0;
						}
						a{
							text-decoration: none;
							color: #fff;
							font-size: 12px;
							font-family: 'OpenSans-Regular';
						}
					}
					li.commercial-service{
						a{
							&::after{
								content: "";
								background-image: url('assets/img/commercial-service.png');
								background-repeat: no-repeat;
								background-size: 13px 10px;
								width: 13px;
								height: 10px;
								display: inline-block;
								margin: 0 0 0 8px;
								top: 1px;
								position: relative;
							}
						}
					}
				}
			}
		}

		.lower-part{
				box-shadow: 0 3px 5px 0 #888888;
				.main-logo{
					.logo{
						margin: 39px 0 32px 0;
					}
				}

				.main-navigation{
					ul{ 
						margin: 0;
						padding: 0 0;
						text-align: right;
						li{
							display: inline-block;
							list-style: none;
							margin: 0 0 0 37px;
							padding: 0;
							
							&:first-child{
								margin: 0;
							}
							a{
								color: #083d8c;
								text-decoration: none;
								font-size: 15px;
								display: inline-block;
								padding: 0;
								font-family: 'OpenSans-Bold';
							}
						}

						li.find-poolpros{
							padding: 14px 19px 16px 19px;
							border: 1px solid #216ddf;
							border-radius: 4px;
							text-align: center;
							margin: 21px 0 24px 50px;
							&:before{
								content: "";
								background-image: url('assets/img/location.png');
								background-repeat: no-repeat;
								background-size: 12px 16px;
								width: 12px;
								height: 16px;
								display: inline-block;
								margin: 0 0 0 8px;
								top: 1px;
								position: relative;
							}
							a{
								color: #216ddf;
								text-decoration: none;
								font-size: 15px;
								display: inline-block;
								padding: 0 0 0 11px;
								font-family: 'OpenSans-Bold';
							}
						}
					}
				}
		}
	}

}

@media only screen and (max-width: 991px){
	header.main-header{
		z-index: 99;
	    position: relative;
		.upper-part{
			background-color: #083d8c;
			.navigation{
				ul{
					margin: 0;
					padding: 9px 0;
					text-align: right;
					display: block;
					li{
						position: relative;
						padding: 0;
						margin: 0 0 0 45px;
						list-style: none;
						display: inline-block;
						text-align: right;
						&:first-child{
							margin: 0 0 0 0;
						}
						a{
							text-decoration: none;
							color: #fff;
							font-size: 12px;
							font-family: 'OpenSans-Regular';
						}
					}
					li.commercial-service{
						a{
							&::after{
								content: "";
								background-image: url('assets/img/commercial-service.png');
								background-repeat: no-repeat;
								background-size: 13px 10px;
								width: 13px;
								height: 10px;
								display: inline-block;
								margin: 0 0 0 8px;
								top: 1px;
								position: relative;
							}
						}
					}
				}
			}
		}

		.lower-part{
				box-shadow: 0 3px 5px 0 #888888;
				.main-logo{
					.logo{
						max-width: 185px;
						margin: 39px 0 32px 0;
					}
				}

				.main-navigation{
					ul{ 
						margin: 0;
						padding: 0 0;
						text-align: right;
						li{
							display: inline-block;
							list-style: none;
							margin: 0 0 0 10px;
							padding: 0;
							
							&:first-child{
								margin: 0;
							}
							a{
								color: #083d8c;
								text-decoration: none;
								font-size: 12px;
								display: inline-block;
								padding: 0;
								font-family: 'OpenSans-Bold';
							}
						}

						li.find-poolpros{
						    padding: 14px 5px 16px 5px;
						    border: 1px solid #216ddf;
						    border-radius: 4px;
						    text-align: center;
						    margin: 21px 0 24px 10px;
							&:before{
								content: "";
								background-image: url('assets/img/location.png');
								background-repeat: no-repeat;
								background-size: 12px 16px;
								width: 12px;
								height: 16px;
								display: inline-block;
								margin: 0 0 0 8px;
								top: 1px;
								position: relative;
							}
							a{
								color: #216ddf;
								text-decoration: none;
								font-size: 12px;
								display: inline-block;
								padding: 0 0 0 11px;
								font-family: 'OpenSans-Bold';
							}
						}
					}
				}
		}
	}

}

@media only screen and (max-width: 767px){
	.mobile-navigation{
		display: block;
		.navbar-app{
			padding: 10px 10px 0 10px;
    		border-bottom: 1px solid #b5b5b5;
    		box-shadow: 0px 0px 5px 1px #c4c4c4;
    		.navbar-brand{
    			margin: 0;
				.main-logo{
					max-width: 155px;
				}
    		}
			.find-a-pro{
				// border: 2px solid #4a88e5;
				// color: #4a88e5;
			}
			.navbarcustom{
				width: 52px;
				height: 52px;
				border: 1px solid #c4c4c4;
				border-radius: 100%;
				-webkit-box-shadow: 0px 0px 5px 1px #c4c4c4;
				box-shadow: 0px 0px 5px 1px #c4c4c4;
				position: relative;
				top: 4px;
				background-color: #fff;
				img{
					margin-top: 8px;
				}
			}
		}
	}
	header.main-header{
		z-index: 99;
	    position: relative;
		.upper-part{
			display: none;
			background-color: #083d8c;
			.navigation{
				ul{
					margin: 0;
					padding: 9px 0;
					text-align: right;
					display: block;
					li{
						position: relative;
						padding: 0;
						margin: 0 0 0 45px;
						list-style: none;
						display: inline-block;
						text-align: right;
						&:first-child{
							margin: 0 0 0 0;
						}
						a{
							text-decoration: none;
							color: #fff;
							font-size: 12px;
							font-family: 'OpenSans-Regular';
						}
					}
					li.commercial-service{
						a{
							&::after{
								content: "";
								background-image: url('assets/img/commercial-service.png');
								background-repeat: no-repeat;
								background-size: 13px 10px;
								width: 13px;
								height: 10px;
								display: inline-block;
								margin: 0 0 0 8px;
								top: 1px;
								position: relative;
							}
						}
					}
				}
			}
		}

		.lower-part{
				display: none;
				box-shadow: 0 3px 5px 0 #888888;
				.main-logo{
					.logo{
						margin: 39px 0 32px 0;
					}
				}

				.main-navigation{
					ul{ 
						margin: 0;
						padding: 0 0;
						text-align: right;
						li{
							display: inline-block;
							list-style: none;
							margin: 0 0 0 52px;
							padding: 0;
							
							&:first-child{
								margin: 0;
							}
							a{
								color: #083d8c;
								text-decoration: none;
								font-size: 15px;
								display: inline-block;
								padding: 0;
								font-family: 'OpenSans-Bold';
							}
						}

						li.find-poolpros{
							padding: 14px 19px 16px 19px;
							border: 1px solid #216ddf;
							border-radius: 4px;
							text-align: center;
							margin: 21px 0 24px 78px;
							&:before{
								content: "";
								background-image: url('assets/img/location.png');
								background-repeat: no-repeat;
								background-size: 12px 16px;
								width: 12px;
								height: 16px;
								display: inline-block;
								margin: 0 0 0 8px;
								top: 1px;
								position: relative;
							}
							a{
								color: #216ddf;
								text-decoration: none;
								font-size: 15px;
								display: inline-block;
								padding: 0 0 0 11px;
								font-family: 'OpenSans-Bold';
							}
						}
					}
				}
		}
	}
}

.overlay-topper{
	border-top: 5px solid #0bc9c8;
    border-bottom: 5px solid #0bc9c8;
    height: 100%;
    overflow: auto;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-y: hidden;
    transition: 0.5s;
    
	.overlay-content {
	    position: relative;
	    top: 10%;
	    width: 100%;
	    text-align: center;
	    margin-top: 0;
	    h3{
	    	color: #01529e;
	    	font-size: 18px;
			line-height: 18px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 700;
			margin-bottom: 30px;
			text-transform: uppercase;
	    }
	    ul{
	    	padding: 0;
	    	margin: 0;
	    	li{
	    		padding: 0;
	    		margin: 0;
	    		text-align: left;
	    		border-bottom: 1px solid #fff;
	    		a{
	    			background-color: #f6f6f6;
	    			font-size: 18px;
					color: #616161;
					line-height: 20px;
					font-family: 'Open Sans', sans-serif;
					font-weight: 700;
					padding: 28px 0 28px 25px;
	    		}
	    	}
	    }
	}
}


.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
	position: absolute;
	top: 3%;
	right: 5%;
	font-size: 44px;
	padding: 0;
	line-height: 30px;
	color: #01c7c6;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}