<header class="main-header">

	<div class="upper-part">

		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="navigation">
						<ul>
							<li><a routerLink="/">Dealers and Distributors</a></li>
							<li class="commercial-service"><a target="_blank" routerLink="/">Commercial Service</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="lower-part">

	    <div class="container">
	          <div class="row">
	                <div class="col-lg-3 col-sm-4">
	                      <div class="main-logo">
	                            <a routerLink="/">
	                                  <img alt="PoolPros" title="PoolPros" src="assets/img/poolpros-logo.png" class="logo img-fluid">
	                            </a>
	                      </div>
	                </div>

	                <div class="col-lg-9 col-sm-8">
	                      <div class="main-navigation">
	                      		<nav>
		                            <ul>

		                                  <li><a routerLink="/accordion">Pools & Spas</a></li>
		                                  <li><a routerLink="/supplies">Supplies</a></li>
		                                  <li><a routerLink="/resources">Resources</a></li>
		                                  <li><a routerLink="/services">Services</a></li>
		                                  <li class="find-poolpros"><a routerLink="/" target="_blank">Find a Pool Pro</a></li>
		                            </ul>
	                      		</nav>
	                            
	                      </div>                                       
	                </div>
	          </div>
	    </div>
	      
	</div>

	<div class="mobile-navigation">
		<div class="navbar navbar-app navbar-absolute-top">

			<div class="navbar-brand navbar-brand-center">
				<div class="main-logo">
				    <a routerLink="/">
				          <img alt="PoolPros" title="PoolPros" src="assets/img/poolpros-logo.png" class="logo img-fluid">
				    </a>
				</div>
			</div>

			<div class="btn-group pull-left">
				<div class="btn btn-navbar">
					<div class="find-a-pro">
						<a routerLink="/"><img src="assets/img/find-a-pro.png"></a>
					</div>
				</div>
			</div>

			<div class="btn-group pull-right">
				<div class="btn btn-navbar navbarcustom">
				  <span (click)="openNav()"><img src="assets/img/navbar.png"></span>
				</div>
			</div>
		</div>
	</div>

	
	<div id="myNav" class="overlay">

	  <div class="overlay-topper">
		<a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>

		<div class="overlay-content">
			<h3>Menu</h3>
			<ul>
			      <li><a routerLink="/accordion" (click)="closeNav()">Pools & Spas</a></li>
                  <li><a routerLink="/supplies" (click)="closeNav()">Supplies</a></li>
                  <li><a routerLink="/resources" (click)="closeNav()">Resources</a></li>
                  <li><a routerLink="/services" (click)="closeNav()">Services</a></li>
			</ul>
		</div>
	  </div>

	</div>
	

</header>