footer.main-footer{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
    padding: 0;
	text-align: center;
	.upper-part{
		background-color: #083d8c;
		padding: 34px 0 0 0;

		.footer-logo{
			img{

			}
		}
		.social-media{
		 	margin: 15px 0 28px 0;
			p{
				display: inline-block;
				margin: 0;
				padding: 0 0;
				font-size: 15.23px;
				color: #fff;
				font-family: 'OpenSans-Bold';
				text-transform: uppercase;
			}
			ul{
				display: inline-block;
				margin: 0;
				padding: 0 0;
				li{
					list-style: none;
					display: inline-block;
					text-align: center;
					margin: 0 0 0 18px;
					padding: 0;
					a{
						text-decoration: none;
						color: #fff;
					}
				}
			}
		}
	}

	.lower-part{
		background-color: #216ddf;
		padding: 9px 0 8px 0;
		.footer-navigation{
			display: inline-block;
			ul{
				margin: 0;
				padding: 0 0;
				text-align: center;
				li{
					position: relative;
					padding: 0;
					margin: 0 0 0 14px;
					list-style: none;
					display: inline;
					text-align: center;
					&:after{
						content: "|";
						color: #fff;
						padding: 0 0 0 16px;
						top: 0px;
    					position: relative;
					}
					&:first-child{
						margin: 0 0 0 0;
					}
					&:last-child{
						&:after{
							content: "";
						}
					}
					a{
						text-decoration: none;
						color: #fff;
						font-size: 12px;
						font-family: 'OpenSans-Regular';
					}
				}
			}
		}

		.copyright{
			display: inline-block;
			p{
				text-decoration: none;
				color: #fff;
				font-size: 12px;
				font-family: 'OpenSans-Regular';
				margin: 0;
				padding: 0 0;
			}
		}
	}
}