<footer class="main-footer">
	<div class="upper-part">

		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="footer-logo">
						<a routerLink="/">
							<img alt="PoolPros" title="PoolPros" src="assets/img/poolpros-footer.png" class="logo img-fluid">
						</a>
					</div>

					<div class="social-media">
						<p>Connect with us</p>
						<ul>
							<li class="twitter"><a routerLink="/"><img src="assets/img/social-media/twitter.png"></a></li>
							<li class="facebook"><a routerLink="/"><img src="assets/img/social-media/facebook.png"></a></li>
							<li class="youtube"><a routerLink="/"><img src="assets/img/social-media/youtube.png"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="lower-part">
	    <div class="container">
	          <div class="row">
	          		<div class="col-lg-12">
	          			<div class="copyright">
	          				<p>© 2017</p>
	          			</div>
	          			<div class="footer-navigation">
							<ul>
								<li><a routerLink="/" target="_blank">Pool Pros</a></li>
								<li><a routerLink="/" target="_blank">Privacy Policy</a></li>
								<li><a routerLink="/" target="_blank">Terms and Conditions</a></li>
							</ul>
	                    </div>
	          		</div>
	          </div>
	    </div>
	      
	</div>

</footer>