


	<div class="modal-dealer" *ngIf="list.length">
		<div *ngFor="let item of list">
			
			<div class="modal-header">
				<div class="modal-title pull-left">
					<p>EMAIL</p>
					<h4 class="title">{{ item.name }}</h4>
				</div>
				<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
	        	<div class="detail">
	        		<p>Fill out the form below and {{ item.name }} will get in touch.</p>
	        	</div>

	        	<div class="modal-form">
	        		<form #heroForm="ngForm">
						{{diagnostic}}
						<div class="form-group form-content">
						  <label for="firstname">Name</label>
						  	<input type="text" class="form-control" id="firstname" required [(ngModel)]="model.firstname" name="firstname" #firstname="ngModel">
							<div *ngIf="!firstname.valid; else other_content">
							    <div class="not-valid"></div>
							</div>
							<ng-template #other_content>
								<div class="valid"></div>
							</ng-template>
						</div>

						<div class="form-group form-content">
						    <label for="lastname">Name</label>
						    <input type="text" class="form-control" id="lastname" required [(ngModel)]="model.lastname" name="lastname" #lastname="ngModel">
						  	<div *ngIf="!lastname.valid; else other_content">
							    <div class="not-valid"></div>
							</div>
							<ng-template #other_content>
								<div class="valid"></div>
							</ng-template>
						</div>

						<div class="form-group form-content phonenumber">
						  	<label for="phonenumber">Phone Number</label>
						  	<input type="text" class="form-control" id="phonenumber" required [(ngModel)]="model.phonenumber" name="phonenumber" #phonenumber="ngModel">
							<div *ngIf="!phonenumber.valid; else other_content">
							    <div class="not-valid"></div>
							</div>
							<ng-template #other_content>
								<div class="valid"></div>
							</ng-template>
						</div>

						<div class="form-group form-content">
							<label for="email">Email</label>
							<input type="email" class="form-control" id="email" required [(ngModel)]="model.email" name="email" #email="ngModel">
							<div *ngIf="!email.valid; else other_content">
							    <div class="not-valid"></div>
							</div>
							<ng-template #other_content>
								<div class="valid"></div>
							</ng-template>
						</div>

						<div class="form-group form-content">
						  <label for="comments">Comments or questions</label>

						  <textarea class="form-control" id="comments" rows="3" [(ngModel)]="model.comments" name="comments" #comments="ngModel"></textarea>
						</div>

						<div class="form-group form-content">
						  <label for="ownedApool">Do you currently own a pool or spa?</label>
						  
						  <div class="buttons">
						    <button class="btn btn-yes">Yes</button>
						    <button class="btn">No</button>
						  </div>
						</div>

						<div class="border-text"></div>

						<div class="form-group text-center">
							<button class="btn btn-send">Send my Email</button>
						</div>

						</form>

	        		<!-- <form class="form-list">

						<div class="form-group">
							<label for="fullname">First Name</label>
							<input type="text" class="form-control" id="fullname" aria-describedby="emailHelp">
						</div>

						<div class="form-group">
							<label for="fullname">Last Name</label>
							<input type="text" class="form-control" id="fullname" aria-describedby="emailHelp">
						</div>

						<div class="form-group">
							<label for="phonenumber">Phone Number</label>
							<input type="text" class="form-control" id="phonenumber" aria-describedby="emailHelp">
						</div>

						<div class="form-group">
							<label for="email">Email Address</label>
							<input type="email" class="form-control" id="email" aria-describedby="emailHelp">
						</div>

						<div class="form-group">
						    <label for="comments">Comments or questions</label>
						    <textarea class="form-control" id="comments" rows="3"></textarea>
						</div>

						<div class="form-group">
							<label for="email">Do you currently own a pool or spa?</label>
							
							<div class="buttons">
								<button class="btn btn-yes">Yes</button>
								<button class="btn">No</button>
							</div>
						</div>

						

	        		</form> -->
	        	</div>
	        </div>

	        <div class="modal-footer">
	    		<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
	    	</div>
	    	
		</div>
	</div>