<div class="mobile-filter">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="filter">
					<div class="desktop-view">
						<div class="filter-container">
							<div class="results">
								<h3>{{ ( dealers | myfilter:filterargs ).length }} dealers in {{dealers.length}}</h3>
							</div>
							<div class="results-container">
								<h3>Filter Results</h3>

								<div class="filter-checkboxes">

									<div *ngFor="let option of options" class="form-check form-check-inline">
									  <input type="checkbox"
									   	class="form-check-input"
										id="{{option.name}}"
										name="options"
										value="{{option.value}}"
										[(ngModel)]="option.checked"
										(change)="displaySelected()" />
									  <label class="form-check-label" for="{{option.name}}">{{option.name}}</label>
									</div>

								</div>
								<div class="custom-tooltip">
									<a href="#" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
										<img src="assets/img/tooltip.png">
									</a>
								</div>
							</div>
						</div>

					</div>

					<div class="mobile-view">
						<div class="filter-container">
							<div class="results">
								<h3>{{ ( dealers | myfilter:filterargs ).length }} dealers in {{dealers.length}}</h3>
							</div>
							<div class="filter-results">
								<div class="filter-label">
									<h3>Filter Results</h3>
								</div>
								<div class="filter-button">
									<button type="button" class="dropdown-toggle filter-toggle" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
									</button>
								</div>
							</div>
						</div>
						<div class="collapse collapse-results" id="collapseExample">
						  <div class="card card-body">
							<div class="filter-checkboxes">

								<div *ngFor="let option of options" class="form-check form-check-inline">
								  <input type="checkbox"
								   	class="form-check-input"
									id="{{option.name}}"
									name="options"
									value="{{option.value}}"
									[(ngModel)]="option.checked"
									(change)="displaySelected()" />
								  <label class="form-check-label" for="{{option.name}}">{{option.name}}</label>
								</div>
								<div class="custom-tooltip">
									<button tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
										<img src="assets/img/tooltip.png">
									</button>
								</div>
								
							</div>

						  </div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>