.mobile-view{
	display: none;
}
.desktop-view{
	display: block;
	padding: 27px 0;

}
.filter{
	.filter-container{
		margin: 131px 0 0 0;
		background-color: #f6f6f6;
		padding: 27px 0;
		text-align: center;
		.results{
			display: inline-block;
			h3{
				font-size: 17.97px;
				color: #216ddf;
				line-height: 20.81px;
				font-family: 'Open Sans', sans-serif;
			    font-weight: 700;
			    display: inline-block;
			    margin: 0 45px 0 0;
			}
		}
		.results-container{
			display: inline-block;
			h3{
				font-size: 17.97px;
				color: #3f3f3f;
				line-height: 20.81px;
				font-family: 'Open Sans', sans-serif;
			    font-weight: 700;
			    display: inline-block;
			    margin: 0 45px 0 0;
			}
			.filter-checkboxes{
				display: inline-block;
				top: 3px;
			    position: relative;
				.form-check-inline{
					margin-right: 35px;
					&:last-child{
						margin: 0;
					}


					.form-check-input{
						position: relative;
						width: 23px;
						height: 23px;
						-webkit-appearance: none;
						background-color: #fff;
						border: 1px solid #d8d8d8;
						border-radius: 3px;
						box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
					}
					.form-check-input:active, .form-check-input:checked:active {
						background-color: #216ddf;
						border: 1px solid #216ddf;
						box-shadow: none;
						&:after{
							content: '';
							width: 7px;
							height: 7px;
							background-color: #fff;
							position: absolute;
							top: 7px;
							margin: 0 auto;
							left: 0;
							right: 0;
						}
					}

					.form-check-input:checked {
						background-color: #216ddf;
						border: 1px solid #216ddf;
						box-shadow: none;
						color: #99a1a7;
						&:after{
							content: '';
							width: 7px;
							height: 7px;
							background-color: #fff;
							position: absolute;
							top: 7px;
							margin: 0 auto;
							left: 0;
							right: 0;
						}
					}


					.form-check-label{
						color: #3f3f3f;
						font-size: 11.98px;
						font-family: 'Open Sans', sans-serif;
			    		font-weight: 400;

					}
				}
			}

			.custom-tooltip{
				display: inline-block;
				top: -5px;
				position: relative;
				margin: 0 0 0 3px;
			}
		}
	}
}

@media only screen and (max-width: 991px){
	.filter{
		.filter-container{
			margin: 131px 0 0 0;
			background-color: #f6f6f6;
			padding: 27px 0;
			text-align: center;
			.results{
				display: block;
				h3{
					font-size: 17.97px;
					color: #216ddf;
					line-height: 20.81px;
					font-family: 'Open Sans', sans-serif;
				    font-weight: 700;
				    display: inline-block;
				    margin: 0 0 15px 0;
				}
			}
			.results-container{
				display: block;
				h3{
					font-size: 17.97px;
					color: #3f3f3f;
					line-height: 20.81px;
					font-family: 'Open Sans', sans-serif;
				    font-weight: 700;
				    display: inline-block;
				    margin: 0 30px 0 0;
				}
				.filter-checkboxes{
					display: inline-block;
					top: 3px;
				    position: relative;
					.form-check-inline{
						margin-right: 35px;
						&:last-child{
							margin: 0;
						}
						.form-check-input{
							position: relative;
							width: 23px;
							height: 23px;
							-webkit-appearance: none;
							background-color: #fff;
							border: 1px solid #d8d8d8;
							border-radius: 3px;
							box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
						}
						.form-check-input:active, .form-check-input:checked:active {
							background-color: #216ddf;
							border: 1px solid #216ddf;
							box-shadow: none;
							&:after{
								content: '';
								width: 7px;
								height: 7px;
								background-color: #fff;
								position: absolute;
								top: 7px;
								margin: 0 auto;
								left: 0;
								right: 0;
							}
						}

						.form-check-input:checked {
							background-color: #216ddf;
							border: 1px solid #216ddf;
							box-shadow: none;
							color: #99a1a7;
							&:after{
								content: '';
								width: 7px;
								height: 7px;
								background-color: #fff;
								position: absolute;
								top: 7px;
								margin: 0 auto;
								left: 0;
								right: 0;
							}
						}
						.form-check-label{
							color: #3f3f3f;
							font-size: 11.98px;
							font-family: 'Open Sans', sans-serif;
				    		font-weight: 400;

						}
					}
				}

				.custom-tooltip{
					display: inline-block;
					top: -5px;
					position: relative;
					margin: 0 0 0 3px;
				}
			}
		}
	}
}

@media only screen and (max-width: 767px){

	.desktop-view{
		display: none;
	}

 	.mobile-filter{
 		background-color: #f6f6f6;
 	}
 	.mobile-view{
 		display: block;
		.filter-container{
			display: flex;
			flex-wrap: wrap;
			padding: 0;
			margin: 0;
			text-align: left;
		 	.results{
		 		flex: 0 0 50%;
				max-width: 50%;
		 		h3{
		 			padding: 14px 0;
					font-size: 16px;
					color: #216ddf;
					line-height: 20.81px;
					font-family: 'Open Sans', sans-serif;
					font-weight: 700;
					display: inline-block;
					margin: 0;
		 		}
		 	}
		 	.filter-results{
				// border: 1px solid;
				flex: 0 0 50%;
				max-width: 50%;
				text-align: right;
			 	.filter-label{
			 		display: inline-block;
					border: 1px solid #d8d8d8;
					padding: 11px 18px;
					border-right: 0;
					margin-right: -5px;
			 	}
		 		
			 	.filter-button{
			 		display: inline-block;
			 		.filter-toggle{
						padding: 11px 0;
						border: 1px solid #d8d8d8;
						background-color: #f6f6f6;
		 				&::after{
		 					vertical-align: 0em;
		 				    margin: 3px 17.2px;
		 				}
			 			
			 		}
			 	}
		 	}
		}

		.collapse-results{
			.card-body{
				border-radius: 0;
				margin: -1px 0 0 0;
			}
		}
	}

	.filter{
		margin: 20px 0 20px 0;
		background-color: transparent;
		h3{
			font-size: 16px;
			color: #3f3f3f;
			line-height: 20.81px;
			font-family: 'Open Sans', sans-serif;
		    font-weight: 700;
		    display: inline-block;
		    margin: 0 0 0 0;
		}
		.filter-checkboxes{
			display: inline-block;
			top: 3px;
		    position: relative;
			.form-check-inline{
				margin-right: 0;
				display: block;
				margin-bottom: 28px;
				&:nth-child(4){
					margin: 0;
					display: inline-block;
				}
				.form-check-input{
					position: relative;
					width: 23px;
					height: 23px;
					-webkit-appearance: none;
					background-color: #fff;
					border: 1px solid #d8d8d8;
					border-radius: 3px;
					box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
				}
				.form-check-input:active, .form-check-input:checked:active {
					background-color: #216ddf;
					border: 1px solid #216ddf;
					box-shadow: none;
					&:after{
						content: '';
						width: 7px;
						height: 7px;
						background-color: #fff;
						position: absolute;
						top: 7px;
						margin: 0 auto;
						left: 0;
						right: 0;
					}
				}

				.form-check-input:checked {
					background-color: #216ddf;
					border: 1px solid #216ddf;
					box-shadow: none;
					color: #99a1a7;
					&:after{
						content: '';
						width: 7px;
						height: 7px;
						background-color: #fff;
						position: absolute;
						top: 7px;
						margin: 0 auto;
						left: 0;
						right: 0;
					}
				}
				.form-check-label{
					color: #3f3f3f;
					font-size: 16px;
					font-family: 'Open Sans', sans-serif;
		    		font-weight: 400;
		    		position: relative;
		    		top: -6px;
				}
			}
		}

		.custom-tooltip{
			display: inline-block;
			top: -7px;
			position: relative;
			margin: 0 0 0 5px;
			button{
				outline: none;
				border: 0;
				background: transparent;
			}
		}
	}


}

@media only screen and (max-width: 410px){


	.desktop-view{
		display: none;
	}

 	.mobile-filter{
 		background-color: #f6f6f6;
 	}
 	.mobile-view{
 		display: block;
		.filter-container{
			display: flex;
			flex-wrap: wrap;
			padding: 0;
			margin: 0;
			text-align: center;
		 	.results{
		 		flex: 0 0 100%;
				max-width: 100%;
		 		h3{
		 			padding: 14px 0;
					font-size: 16px;
					color: #216ddf;
					line-height: 20.81px;
					font-family: 'Open Sans', sans-serif;
					font-weight: 700;
					display: inline-block;
		 		}
		 	}
		 	.filter-results{
				flex: 0 0 100%;
				max-width: 100%;
				text-align: center;
			 	.filter-label{
			 		display: inline-block;
					border: 1px solid #d8d8d8;
					padding: 11px 18px;
					border-right: 0;
					margin-right: -5px;
			 	}
		 		
			 	.filter-button{
			 		display: inline-block;
			 		.filter-toggle{
						padding: 11px 0;
						border: 1px solid #d8d8d8;
						background-color: #f6f6f6;
		 				&::after{
		 					vertical-align: 0em;
		 				    margin: 3px 17.2px;
		 				}
			 			
			 		}
			 	}
		 	}
		}

		.collapse-results{
			.card-body{
				border-radius: 0;
				margin: -1px 0 0 0;
			}
		}
	}

	.filter{
		margin: 20px 0 20px 0;
		background-color: transparent;
		h3{
			font-size: 16px;
			color: #3f3f3f;
			line-height: 20.81px;
			font-family: 'Open Sans', sans-serif;
		    font-weight: 700;
		    display: inline-block;
		    margin: 0 0 0 0;
		}
		.filter-checkboxes{
			display: inline-block;
			top: 3px;
		    position: relative;
			.form-check-inline{
				margin-right: 0;
				display: block;
				margin-bottom: 28px;
				&:last-child{
					margin: 0;
				}
				.form-check-input{
					position: relative;
					width: 23px;
					height: 23px;
					-webkit-appearance: none;
					background-color: #fff;
					border: 1px solid #d8d8d8;
					border-radius: 3px;
					box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
				}
				.form-check-input:active, .form-check-input:checked:active {
					background-color: #216ddf;
					border: 1px solid #216ddf;
					box-shadow: none;
					&:after{
						content: '';
						width: 7px;
						height: 7px;
						background-color: #fff;
						position: absolute;
						top: 7px;
						margin: 0 auto;
						left: 0;
						right: 0;
					}
				}

				.form-check-input:checked {
					background-color: #216ddf;
					border: 1px solid #216ddf;
					box-shadow: none;
					color: #99a1a7;
					&:after{
						content: '';
						width: 7px;
						height: 7px;
						background-color: #fff;
						position: absolute;
						top: 7px;
						margin: 0 auto;
						left: 0;
						right: 0;
					}
				}
				.form-check-label{
					color: #3f3f3f;
					font-size: 16px;
					font-family: 'Open Sans', sans-serif;
		    		font-weight: 400;
		    		position: relative;
		    		top: -6px;
				}
			}
		}

		.custom-tooltip{
			display: inline-block;
			top: -7px;
			position: relative;
			margin: 0 0 0 5px;
			button{
				outline: none;
				border: 0;
				background: transparent;
			}
		}
	}
}