main.main-container{
	.main-content{
		background-image: url('assets/img/upper-bg.jpg');
		background-repeat: no-repeat;
		background-position: top center;
		background-size: 100%;
		padding: 0 0 242px 0;
	}

}
@media only screen and (max-width: 767px){
	main.main-container{
		.main-content{
			background-image: url('assets/img/upper-bg.jpg');
			background-repeat: no-repeat;
			background-position: top center;
			background-size: 100%;
			padding: 104px 0 242px 0;
		}
	}
}


