<main id="main-container" class="main-container">

	<app-header></app-header>

	<div class="main-content">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>
	</div>
	
	<app-footer></app-footer>

</main>