<app-filter [dealers]="dealers" (selectedOutputParent)="optionSelectedReceive($event)"></app-filter>

<div class="list-dealers">
	<div class="dealers" *ngFor="let dealer of dealers | myfilter:filterargs | orderByAlphabetically: 'name'">
		<div class="dealer-name">
			<h3>{{ dealer.data.name }}</h3>
		</div>

		<div class="contact-number">
			<ul>
				<li>
					<a href="tel:{{dealer.data.phone1}}">{{ dealer.data.phone1 }}</a>
				</li>
			</ul>

			<a href="tel:{{ dealer.data.phone1 }}">
				<div class="button-layout">
					<span>Tap to call</span>{{ dealer.data.phone1 }}
				</div>
			</a>
			
			<p class="text-details">Can’t talk now? Click below to send an email.</p>
		</div>

			
		<div class="contact-email">

			<a (click)="openModalWithComponent(dealer.data)">	
				<div class="button-layout">
					<ul>
						<li>Contact this Pro</li>
					</ul>
				</div>
			</a>
		</div>

		<div class="business-hours">
			<h3>Business Hours</h3>
			<ul>
				<li *ngIf="dealer.data.weekHours.mon == dealer.data.weekHours.tues == dealer.data.weekHours.wed == dealer.data.weekHours.thu == dealer.data.weekHours.fri ; else weekdays ">
					dealer.data.weekHours.monday
				</li>
					<ng-template #weekdays>
						<li>Monday {{ dealer.data.weekHours.mon }}</li>
						<li>Tuesday {{ dealer.data.weekHours.tue }}</li>
						<li>Wednesday {{ dealer.data.weekHours.wed }}</li>
						<li>Thursday {{ dealer.data.weekHours.thu }}</li>
						<li>Friday {{ dealer.data.weekHours.fri }}</li>
					</ng-template>

				<li *ngIf="dealer.data.weekHours.sat == ''; else satcontent ">Saturday Closed</li>
					<ng-template #satcontent><li>Saturday {{ dealer.data.weekHours.sat }}</li></ng-template>
				
				<li *ngIf="dealer.data.weekHours.sun == ''; else suncontent ">Sunday Closed</li>
					<ng-template #suncontent><li>Sunday {{ dealer.data.weekHours.sun }}</li></ng-template>
			</ul>
		</div>

		<div class="certificate">
			<ul>
				<li *ngFor='let value of dealer.data.certifications; trackBy: index;' class="{{ value | lowercase }}">
					{{ value }}
				</li>
			</ul>


		</div>
	</div>

</div>

