.list-dealers{

	margin: 30px 0 0 0;
	display: flex;
	flex-wrap: wrap;
	.dealers{
		position: relative;
		flex: 0 0 32.37%;
		max-width: 32.37%;
		border: 1px solid #f0f0f0;
		margin: 0 0 16px 0;
		border-radius: 10px;
		box-shadow: 0px 2px 7px 0 #888888;
		&:nth-child(3n+2){
			
			margin: 0 16px 16px 16px;
		}

		.dealer-name{
			margin: 0 18px;
			height: 102px;
			max-height: 102px;
			display: flex;
		    justify-content: center;
		    align-items: center;
		    border-bottom: 1px solid #ececec;
			h3{
				font-size: 26px;
				text-align: center;
			}
		}

		.contact-number{
			position: relative;
			text-align: center;
			a{
				display: none;
				color: #fff;
				text-decoration: none;
				font-family: 'Open Sans', sans-serif;
				font-weight: 800;
				font-size: 18px;
				.button-layout{
					background-color: #216ddf;
					background-image: url('assets/img/phone.jpg');
					background-repeat: no-repeat;
					background-size: 28px 28px;
				    background-position: 5px center;
					padding: 5px 0 7px 28px;
					max-width: 246px;
					margin: 28px auto 0 auto;
					border-radius: 5px;
					span{
						color: #fff;
						text-decoration: none;
						font-family: 'Open Sans', sans-serif;
						font-weight: 800;
						font-size: 10px;
						margin: 0 5px 0 0;
					}
				}
			}
			ul{
				padding: 0;
				margin: 0;
				li{
					padding: 0;
					margin: 28px 0 0 0;
					list-style-type: none;
					
					&:before{
						content: "";
						background-image: url('assets/img/phone-icon.png');
						background-repeat: no-repeat;
						background-size: 28px 29px;
						width: 28px;
						height: 29px;
						background-position: left center;
						display: inline-block;
						margin: 0 10px 0 0;
						top: 6px;
						position: relative;
					}
					a{
						display: inline-block;
						text-decoration: none;
						font-size: 26.19px;
						color: #3f3f3f;
						font-family: 'Open Sans', sans-serif;
    					font-weight: 800;
					}
				}
			}
			.text-details{
				font-family: 'Open Sans', sans-serif;
				font-weight: 400;
				font-style: italic;
				font-size: 12px;
				margin: 12px 0 0 0;
				color: #3f3f3f;
				padding: 0;
			}
		}
		.business-hours{
			margin: 39px 0 35px 0;
			text-align: center;
			h3{
				font-size: 14px;
				font-family: 'Open Sans', sans-serif;
				font-weight: 700;
				padding: 0;
				margin: 0 0 3px 0;
				color: #3f3f3f;
			}
			ul{
				padding: 0;
				margin: 0;
				li{
					padding: 0;
					margin: 0;
					font-family: 'Open Sans', sans-serif;
					font-weight: 400;
					list-style-type: none;
					font-size: 13px;
					line-height: 21px;
				}
			}
		}
		.contact-email{
			text-align: center;
			.button-layout{
				display: block;
				border: 2px solid #02c7c6;
				width: 190px;
				height: 46px;
				margin: 20px auto 0 auto;
				border-radius: 4px;
				ul{
					padding: 0;
					margin: 0;
					text-align: center;
					li{
						padding: 10px 0;
						margin: 0 0 0 0;
						list-style-type: none;
						text-decoration: none;
						font-size: 15px;
						color: #083d8c;
						font-family: 'Open Sans', sans-serif;
						font-weight: 700;
						&:before{
							content: "";
							background-image: url('assets/img/mail-icon.png');
							background-repeat: no-repeat;
							background-size: 15px 13px;
							width: 15px;
							height: 13px;
							background-position: left center;
							display: inline-block;
							margin: 0 10px 0 0;
							top: 1px;
							position: relative;
						}
						
					}
				}
			}
			a{
				text-decoration: none;
				font-size: 15px;
				color: #083d8c;
				font-family: 'Open Sans', sans-serif;
				font-weight: 700;
				cursor: pointer;
				margin: 0 auto;
				display: inline-block;
			}
		}
		.certificate{
			background-color: #f6f6f6;
			height: 96px;
			max-height: 96px;
			border-radius: 0 0 10px 10px;
			ul{
				margin: 0;
				padding: 27px 0 0 0;
				li{
					display: inline-block;
					width: 50%;
					font-size: 12px;
					line-height: 27px;
					color: #3f3f3f;
					padding: 0;
					margin: 0;
					list-style-type: none;
					font-family: 'Open Sans', sans-serif;
					font-weight: 400;
					&:nth-child(2n+1){
						padding: 0 0 0 42px;
					}
				}
				li.installation{
					&:before{
							content: "";
							background-image: url('assets/img/pros/install.png');
							background-repeat: no-repeat;
							background-size: 12px 13px;
							width: 12px;
							height: 13px;
							background-position: left center;
							display: inline-block;
							margin: 0 8px 0 0;
							top: 1px;
							position: relative;
						}
				}
				li.commercial{
					&:before{
							content: "";
							background-image: url('assets/img/pros/commercial.png');
							background-repeat: no-repeat;
							background-size: 12px 11px;
							width: 12px;
							height: 11px;
							background-position: left center;
							display: inline-block;
							margin: 0 9px 0 0;
							top: 1px;
							position: relative;
						}
				}
				li.residential{
					&:before{
							content: "";
							background-image: url('assets/img/pros/resident.png');
							background-repeat: no-repeat;
							background-size: 13px 12px;
							width: 13px;
							height: 12px;
							background-position: left center;
							display: inline-block;
							margin: 0 9px 0 0;
							top: 1px;
							position: relative;
						}
				}
				li.service{
					&:before{
							content: "";
							background-image: url('assets/img/pros/service.png');
							background-repeat: no-repeat;
							background-size: 13px 13px;
							width: 13px;
							height: 13px;
							background-position: left center;
							display: inline-block;
							margin: 0 8px 0 0;
							top: 1px;
							position: relative;
						}
				}
			}
		}
	}
	
}


@media only screen and (max-width: 1199px){
	.list-dealers{

		margin: 30px 0 0 0;
		display: flex;
		flex-wrap: wrap;
		.dealers{
			position: relative;
			flex: 0 0 32.18%;
			max-width: 32.18%;
			border: 1px solid #f0f0f0;
			margin: 0 0 16px 0;
			border-radius: 10px;
			box-shadow: 0px 2px 7px 0 #888888;
			&:nth-child(3n+2){
				
				margin: 0 16px 16px 16px;
			}

			.dealer-name{
				margin: 0 18px;
				height: 102px;
				max-height: 102px;
				display: flex;
			    justify-content: center;
			    align-items: center;
			    border-bottom: 1px solid #ececec;
				h3{
					font-size: 26px;
					text-align: center;
				}
			}

			.contact-number{
				position: relative;
				text-align: center;
				ul{
					padding: 0;
					margin: 0;
					li{
						padding: 0;
						margin: 28px 0 0 0;
						list-style-type: none;
						
						&:before{
							content: "";
							background-image: url('assets/img/phone-icon.png');
							background-repeat: no-repeat;
							background-size: 28px 29px;
							width: 28px;
							height: 29px;
							background-position: left center;
							display: inline-block;
							margin: 0 10px 0 0;
							top: 6px;
							position: relative;
						}
						a{
							text-decoration: none;
							font-size: 26.19px;
							color: #3f3f3f;
							font-family: 'Open Sans', sans-serif;
	    					font-weight: 800;
						}
					}
				}
				.text-details{
					font-family: 'Open Sans', sans-serif;
					font-weight: 400;
					font-style: italic;
					font-size: 12px;
					margin: 12px 0 0 0;
					color: #3f3f3f;
					padding: 0;
				}
			}
			.business-hours{
				margin: 39px 0 35px 0;
				text-align: center;
				h3{
					font-size: 14px;
					font-family: 'Open Sans', sans-serif;
					font-weight: 700;
					padding: 0;
					margin: 0;
					color: #3f3f3f;
				}
				ul{
					padding: 0;
					margin: 0;
					li{
						padding: 0;
						margin: 0;
						font-family: 'Open Sans', sans-serif;
						font-weight: 400;
						list-style-type: none;
						font-size: 13px;
						line-height: 21px;
					}
				}
			}
			.contact-email{
				text-align: center;
				.button-layout{
					display: block;
					border: 2px solid #02c7c6;
					width: 190px;
					height: 46px;
					margin: 20px auto 0 auto;
					border-radius: 4px;
					ul{
						padding: 0;
						margin: 0;
						text-align: center;
						li{
							padding: 10px 0;
							margin: 0 0 0 0;
							list-style-type: none;
							text-decoration: none;
							font-size: 15px;
							color: #083d8c;
							font-family: 'Open Sans', sans-serif;
							font-weight: 700;
							&:before{
								content: "";
								background-image: url('assets/img/mail-icon.png');
								background-repeat: no-repeat;
								background-size: 15px 13px;
								width: 15px;
								height: 13px;
								background-position: left center;
								display: inline-block;
								margin: 0 10px 0 0;
								top: 1px;
								position: relative;
							}
							
						}
					}
				}
				a{
					text-decoration: none;
					font-size: 15px;
					color: #083d8c;
					font-family: 'Open Sans', sans-serif;
					font-weight: 700;
					cursor: pointer;
					margin: 0 auto;
					display: inline-block;
				}
			}
			.certificate{
				background-color: #f6f6f6;
				height: 96px;
				max-height: 96px;
				border-radius: 0 0 10px 10px;
				ul{
					margin: 0;
					padding: 27px 0 0 0;
					li{
						display: inline-block;
						width: 50%;
						font-size: 12px;
						line-height: 27px;
						color: #3f3f3f;
						padding: 0;
						margin: 0;
						list-style-type: none;
						font-family: 'Open Sans', sans-serif;
						font-weight: 400;
						&:nth-child(2n+1){
							padding: 0 0 0 20px;
						}
					}
					li.installation{
						&:before{
								content: "";
								background-image: url('assets/img/pros/install.png');
								background-repeat: no-repeat;
								background-size: 12px 13px;
								width: 12px;
								height: 13px;
								background-position: left center;
								display: inline-block;
								margin: 0 8px 0 0;
								top: 1px;
								position: relative;
							}
					}
					li.commercial{
						&:before{
								content: "";
								background-image: url('assets/img/pros/commercial.png');
								background-repeat: no-repeat;
								background-size: 12px 11px;
								width: 12px;
								height: 11px;
								background-position: left center;
								display: inline-block;
								margin: 0 9px 0 0;
								top: 1px;
								position: relative;
							}
					}
					li.residential{
						&:before{
								content: "";
								background-image: url('assets/img/pros/resident.png');
								background-repeat: no-repeat;
								background-size: 13px 12px;
								width: 13px;
								height: 12px;
								background-position: left center;
								display: inline-block;
								margin: 0 9px 0 0;
								top: 1px;
								position: relative;
							}
					}
					li.service{
						&:before{
								content: "";
								background-image: url('assets/img/pros/service.png');
								background-repeat: no-repeat;
								background-size: 13px 13px;
								width: 13px;
								height: 13px;
								background-position: left center;
								display: inline-block;
								margin: 0 8px 0 0;
								top: 1px;
								position: relative;
							}
					}
				}
			}
		}
		
	}
}

@media only screen and (max-width: 991px){
	.list-dealers{

		margin: 30px 0 0 0;
		display: flex;
		flex-wrap: wrap;
		.dealers{
			position: relative;
			flex: 0 0 49%;
			max-width: 49%;
			border: 1px solid #f0f0f0;
			margin: 0 0 16px 0;
			border-radius: 10px;
			box-shadow: 0px 2px 7px 0 #888888;
			&:nth-child(3n+2){
				
				margin: 0 0;
			}
			&:nth-child(even){
				margin: 0 0 16px 1%;
			}
			&:nth-child(odd){
				margin: 0 1% 16px 0;
			}

			.dealer-name{
				margin: 0 18px;
				height: 102px;
				max-height: 102px;
				display: flex;
			    justify-content: center;
			    align-items: center;
			    border-bottom: 1px solid #ececec;
				h3{
					font-size: 26px;
					text-align: center;
				}
			}

			.contact-number{
				position: relative;
				text-align: center;
				ul{
					padding: 0;
					margin: 0;
					li{
						padding: 0;
						margin: 28px 0 0 0;
						list-style-type: none;
						
						&:before{
							content: "";
							background-image: url('assets/img/phone-icon.png');
							background-repeat: no-repeat;
							background-size: 28px 29px;
							width: 28px;
							height: 29px;
							background-position: left center;
							display: inline-block;
							margin: 0 10px 0 0;
							top: 6px;
							position: relative;
						}
						a{
							text-decoration: none;
							font-size: 26.19px;
							color: #3f3f3f;
							font-family: 'Open Sans', sans-serif;
	    					font-weight: 800;
						}
					}
				}
				.text-details{
					font-family: 'Open Sans', sans-serif;
					font-weight: 400;
					font-style: italic;
					font-size: 12px;
					margin: 12px 0 0 0;
					color: #3f3f3f;
					padding: 0;
				}
			}
			.business-hours{
				margin: 39px 0 35px 0;
				text-align: center;
				h3{
					font-size: 14px;
					font-family: 'Open Sans', sans-serif;
					font-weight: 700;
					padding: 0;
					margin: 0;
					color: #3f3f3f;
				}
				ul{
					padding: 0;
					margin: 0;
					li{
						padding: 0;
						margin: 0;
						font-family: 'Open Sans', sans-serif;
						font-weight: 400;
						list-style-type: none;
						font-size: 13px;
						line-height: 21px;
					}
				}
			}
			.contact-email{
				text-align: center;
				.button-layout{
					display: block;
					border: 2px solid #02c7c6;
					width: 190px;
					height: 46px;
					margin: 20px auto 0 auto;
					border-radius: 4px;
					ul{
						padding: 0;
						margin: 0;
						text-align: center;
						li{
							padding: 10px 0;
							margin: 0 0 0 0;
							list-style-type: none;
							text-decoration: none;
							font-size: 15px;
							color: #083d8c;
							font-family: 'Open Sans', sans-serif;
							font-weight: 700;
							&:before{
								content: "";
								background-image: url('assets/img/mail-icon.png');
								background-repeat: no-repeat;
								background-size: 15px 13px;
								width: 15px;
								height: 13px;
								background-position: left center;
								display: inline-block;
								margin: 0 10px 0 0;
								top: 1px;
								position: relative;
							}
							
						}
					}
				}
				a{
					text-decoration: none;
					font-size: 15px;
					color: #083d8c;
					font-family: 'Open Sans', sans-serif;
					font-weight: 700;
					cursor: pointer;
					margin: 0 auto;
					display: inline-block;
				}
			}
			.certificate{
				background-color: #f6f6f6;
				height: 96px;
				max-height: 96px;
				border-radius: 0 0 10px 10px;
				ul{
					margin: 0;
					padding: 27px 0 0 0;
					li{
						display: inline-block;
						width: 50%;
						font-size: 12px;
						line-height: 27px;
						color: #3f3f3f;
						padding: 0;
						margin: 0;
						list-style-type: none;
						font-family: 'Open Sans', sans-serif;
						font-weight: 400;
						&:nth-child(2n+1){
							padding: 0 0 0 20px;
						}
					}
					li.installation{
						&:before{
								content: "";
								background-image: url('assets/img/pros/install.png');
								background-repeat: no-repeat;
								background-size: 12px 13px;
								width: 12px;
								height: 13px;
								background-position: left center;
								display: inline-block;
								margin: 0 8px 0 0;
								top: 1px;
								position: relative;
							}
					}
					li.commercial{
						&:before{
								content: "";
								background-image: url('assets/img/pros/commercial.png');
								background-repeat: no-repeat;
								background-size: 12px 11px;
								width: 12px;
								height: 11px;
								background-position: left center;
								display: inline-block;
								margin: 0 9px 0 0;
								top: 1px;
								position: relative;
							}
					}
					li.residential{
						&:before{
								content: "";
								background-image: url('assets/img/pros/resident.png');
								background-repeat: no-repeat;
								background-size: 13px 12px;
								width: 13px;
								height: 12px;
								background-position: left center;
								display: inline-block;
								margin: 0 9px 0 0;
								top: 1px;
								position: relative;
							}
					}
					li.service{
						&:before{
								content: "";
								background-image: url('assets/img/pros/service.png');
								background-repeat: no-repeat;
								background-size: 13px 13px;
								width: 13px;
								height: 13px;
								background-position: left center;
								display: inline-block;
								margin: 0 8px 0 0;
								top: 1px;
								position: relative;
							}
					}
				}
			}
		}
		
	}
}

@media only screen and (max-width: 767px){
	.list-dealers{

		margin: 0 0 0 0;
		display: flex;
		flex-wrap: wrap;
		.dealers{
			position: relative;
			flex: 0 0 100%;
			max-width: 100%;
			border: 1px solid #f0f0f0;
			margin: 0 0 0 0;
			border-radius: 0;
		    box-shadow: 1px 3px 7px 0 #888888;
			&:nth-child(3n+2){
				
				margin: 0 0;
			}
			&:nth-child(even){
				margin: 0 0 0 0;
			}
			&:nth-child(odd){
				margin: 0 0 0 0;
			}

			.dealer-name{
				margin: 0 18px;
				height: 102px;
				max-height: 102px;
				display: flex;
			    justify-content: center;
			    align-items: center;
			    border-bottom: 1px solid #ececec;
				h3{
					font-size: 26px;
					text-align: center;
				}
			}

			.contact-number{
				position: relative;
				text-align: center;
				ul{
					padding: 0;
					margin: 0;
					display: none;
					li{
						padding: 0;
						margin: 28px 0 0 0;
						list-style-type: none;
						
						&:before{
							content: "";
							background-image: url('assets/img/phone-icon.png');
							background-repeat: no-repeat;
							background-size: 28px 29px;
							width: 28px;
							height: 29px;
							background-position: left center;
							display: inline-block;
							margin: 0 10px 0 0;
							top: 6px;
							position: relative;
						}
						a{
							text-decoration: none;
							font-size: 26.19px;
							color: #3f3f3f;
							font-family: 'Open Sans', sans-serif;
	    					font-weight: 800;
						}
					}
				}

				a{
					display: block;
					color: #fff;
					text-decoration: none;
					font-family: 'Open Sans', sans-serif;
					font-weight: 800;
					font-size: 18px;
					.button-layout{
						background-color: #216ddf;
						background-image: url('assets/img/phone.jpg');
						background-repeat: no-repeat;
						background-size: 28px 28px;
					    background-position: 5px center;
    					padding: 5px 0 7px 28px;
						max-width: 246px;
						margin: 28px auto 0 auto;
						border-radius: 5px;
						span{
							color: #fff;
							text-decoration: none;
							font-family: 'Open Sans', sans-serif;
							font-weight: 800;
							font-size: 10px;
							margin: 0 5px 0 0;
						}
					}
				}
				.text-details{
					font-family: 'Open Sans', sans-serif;
					font-weight: 400;
					font-style: italic;
					font-size: 12px;
					margin: 12px 0 0 0;
					color: #3f3f3f;
					padding: 0;
				}
			}
			.business-hours{
				margin: 39px 0 35px 0;
				text-align: center;
				h3{
					font-size: 14px;
					font-family: 'Open Sans', sans-serif;
					font-weight: 700;
					padding: 0;
					margin: 0;
					color: #3f3f3f;
				}
				ul{
					padding: 0;
					margin: 0;
					li{
						padding: 0;
						margin: 0;
						font-family: 'Open Sans', sans-serif;
						font-weight: 400;
						list-style-type: none;
						font-size: 13px;
						line-height: 21px;
					}
				}
			}
			.contact-email{
				text-align: center;
				.button-layout{
					display: block;
					border: 2px solid #02c7c6;
					width: 190px;
					height: 46px;
					margin: 20px auto 0 auto;
					border-radius: 4px;
					ul{
						padding: 0;
						margin: 0;
						text-align: center;
						li{
							padding: 10px 0;
							margin: 0 0 0 0;
							list-style-type: none;
							text-decoration: none;
							font-size: 15px;
							color: #083d8c;
							font-family: 'Open Sans', sans-serif;
							font-weight: 700;
							&:before{
								content: "";
								background-image: url('assets/img/mail-icon.png');
								background-repeat: no-repeat;
								background-size: 15px 13px;
								width: 15px;
								height: 13px;
								background-position: left center;
								display: inline-block;
								margin: 0 10px 0 0;
								top: 1px;
								position: relative;
							}
							
						}
					}
				}
				a{
					text-decoration: none;
					font-size: 15px;
					color: #083d8c;
					font-family: 'Open Sans', sans-serif;
					font-weight: 700;
					cursor: pointer;
					margin: 0 auto;
					display: inline-block;
				}
			}
			.certificate{
				background-color: #f6f6f6;
				height: 96px;
				max-height: 96px;
				border-radius: 0 0 0 0;
				ul{
					margin: 0;
					padding: 27px 0 0 0;
					li{
						display: inline-block;
						width: 50%;
						font-size: 12px;
						line-height: 27px;
						color: #3f3f3f;
						padding: 0;
						margin: 0;
						list-style-type: none;
						font-family: 'Open Sans', sans-serif;
						font-weight: 400;
						&:nth-child(2n+1){
							padding: 0 0 0 20px;
						}
					}
					li.installation{
						&:before{
								content: "";
								background-image: url('assets/img/pros/install.png');
								background-repeat: no-repeat;
								background-size: 12px 13px;
								width: 12px;
								height: 13px;
								background-position: left center;
								display: inline-block;
								margin: 0 8px 0 0;
								top: 1px;
								position: relative;
							}
					}
					li.commercial{
						&:before{
								content: "";
								background-image: url('assets/img/pros/commercial.png');
								background-repeat: no-repeat;
								background-size: 12px 11px;
								width: 12px;
								height: 11px;
								background-position: left center;
								display: inline-block;
								margin: 0 9px 0 0;
								top: 1px;
								position: relative;
							}
					}
					li.residential{
						&:before{
								content: "";
								background-image: url('assets/img/pros/resident.png');
								background-repeat: no-repeat;
								background-size: 13px 12px;
								width: 13px;
								height: 12px;
								background-position: left center;
								display: inline-block;
								margin: 0 9px 0 0;
								top: 1px;
								position: relative;
							}
					}
					li.service{
						&:before{
								content: "";
								background-image: url('assets/img/pros/service.png');
								background-repeat: no-repeat;
								background-size: 13px 13px;
								width: 13px;
								height: 13px;
								background-position: left center;
								display: inline-block;
								margin: 0 8px 0 0;
								top: 1px;
								position: relative;
							}
					}
				}
			}
		}
		
	}
}


@media only screen and (max-width: 410px){


	.desktop-view{
		display: none;
	}

 	.mobile-filter{
 		background-color: #f6f6f6;
 	}
 	.mobile-view{
 		display: block;
		.filter-container{
			display: flex;
			flex-wrap: wrap;
			padding: 0;
			margin: 0;
			text-align: center;
		 	.results{
		 		flex: 0 0 100%;
				max-width: 100%;
		 		h3{
		 			padding: 14px 0;
					font-size: 16px;
					color: #216ddf;
					line-height: 20.81px;
					font-family: 'Open Sans', sans-serif;
					font-weight: 700;
					display: inline-block;
		 		}
		 	}
		 	.filter-results{
				flex: 0 0 100%;
				max-width: 100%;
				text-align: center;
			 	.filter-label{
			 		display: inline-block;
					border: 1px solid #d8d8d8;
					padding: 11px 18px;
					border-right: 0;
					margin-right: -5px;
			 	}
		 		
			 	.filter-button{
			 		display: inline-block;
			 		.filter-toggle{
						padding: 11px 0;
						border: 1px solid #d8d8d8;
						background-color: #f6f6f6;
		 				&::after{
		 					vertical-align: 0em;
		 				    margin: 3px 17.2px;
		 				}
			 			
			 		}
			 	}
		 	}
		}

		.collapse-results{
			.card-body{
				border-radius: 0;
				margin: -1px 0 0 0;
			}
		}
	}

	.filter{
		margin: 20px 0 20px 0;
		background-color: transparent;
		h3{
			font-size: 16px;
			color: #3f3f3f;
			line-height: 20.81px;
			font-family: 'Open Sans', sans-serif;
		    font-weight: 700;
		    display: inline-block;
		    margin: 0 0 0 0;
		}
		.filter-checkboxes{
			display: inline-block;
			top: 3px;
		    position: relative;
			.form-check-inline{
				margin-right: 0;
				display: block;
				margin-bottom: 28px;
				&:last-child{
					margin: 0;
				}
				.form-check-input{
					position: relative;
					width: 23px;
					height: 23px;
					-webkit-appearance: none;
					background-color: #fff;
					border: 1px solid #d8d8d8;
					border-radius: 3px;
					box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
				}
				.form-check-input:active, .form-check-input:checked:active {
					background-color: #216ddf;
					border: 1px solid #216ddf;
					box-shadow: none;
					&:after{
						content: '';
						width: 7px;
						height: 7px;
						background-color: #fff;
						position: absolute;
						top: 7px;
						margin: 0 auto;
						left: 0;
						right: 0;
					}
				}

				.form-check-input:checked {
					background-color: #216ddf;
					border: 1px solid #216ddf;
					box-shadow: none;
					color: #99a1a7;
					&:after{
						content: '';
						width: 7px;
						height: 7px;
						background-color: #fff;
						position: absolute;
						top: 7px;
						margin: 0 auto;
						left: 0;
						right: 0;
					}
				}
				.form-check-label{
					color: #3f3f3f;
					font-size: 16px;
					font-family: 'Open Sans', sans-serif;
		    		font-weight: 400;
		    		position: relative;
		    		top: -6px;
				}
			}
		}

		.custom-tooltip{
			display: inline-block;
			top: -7px;
			position: relative;
			margin: 0 0 0 5px;
			button{
				outline: none;
				border: 0;
				background: transparent;
			}
		}
	}

	.list-dealers{

		margin: 30px 0 0 0;
		display: flex;
		flex-wrap: wrap;
		.dealers{
			position: relative;
			flex: 0 0 100%;
			max-width: 100%;
			border: 1px solid #f0f0f0;
			margin: 0 0 16px 0;
			border-radius: 10px;
			box-shadow: 0px 2px 7px 0 #888888;
			&:nth-child(3n+2){
				
				margin: 0 0;
			}
			&:nth-child(even){
				margin: 0 0 16px 0;
			}
			&:nth-child(odd){
				margin: 0 0 16px 0;
			}

			.dealer-name{
				margin: 0 18px;
				height: 102px;
				max-height: 102px;
				display: flex;
			    justify-content: center;
			    align-items: center;
			    border-bottom: 1px solid #ececec;
				h3{
					font-size: 26px;
					text-align: center;
				}
			}

			.contact-number{
				position: relative;
				text-align: center;
				ul{
					padding: 0;
					margin: 0;
					li{
						padding: 0;
						margin: 28px 0 0 0;
						list-style-type: none;
						
						&:before{
							content: "";
							background-image: url('assets/img/phone-icon.png');
							background-repeat: no-repeat;
							background-size: 28px 29px;
							width: 28px;
							height: 29px;
							background-position: left center;
							display: inline-block;
							margin: 0 10px 0 0;
							top: 6px;
							position: relative;
						}
						a{
							text-decoration: none;
							font-size: 26.19px;
							color: #3f3f3f;
							font-family: 'Open Sans', sans-serif;
	    					font-weight: 800;
						}
					}
				}
				.text-details{
					font-family: 'Open Sans', sans-serif;
					font-weight: 400;
					font-style: italic;
					font-size: 12px;
					margin: 12px 0 0 0;
					color: #3f3f3f;
					padding: 0;
				}
			}
			.business-hours{
				margin: 39px 0 35px 0;
				text-align: center;
				h3{
					font-size: 14px;
					font-family: 'Open Sans', sans-serif;
					font-weight: 700;
					padding: 0;
					margin: 0;
					color: #3f3f3f;
				}
				ul{
					padding: 0;
					margin: 0;
					li{
						padding: 0;
						margin: 0;
						font-family: 'Open Sans', sans-serif;
						font-weight: 400;
						list-style-type: none;
						font-size: 13px;
						line-height: 21px;
					}
				}
			}
			.contact-email{
				text-align: center;
				.button-layout{
					display: block;
					border: 2px solid #02c7c6;
					width: 190px;
					height: 46px;
					margin: 20px auto 0 auto;
					border-radius: 4px;
					ul{
						padding: 0;
						margin: 0;
						text-align: center;
						li{
							padding: 10px 0;
							margin: 0 0 0 0;
							list-style-type: none;
							text-decoration: none;
							font-size: 15px;
							color: #083d8c;
							font-family: 'Open Sans', sans-serif;
							font-weight: 700;
							&:before{
								content: "";
								background-image: url('assets/img/mail-icon.png');
								background-repeat: no-repeat;
								background-size: 15px 13px;
								width: 15px;
								height: 13px;
								background-position: left center;
								display: inline-block;
								margin: 0 10px 0 0;
								top: 1px;
								position: relative;
							}
							
						}
					}
				}
				a{
					text-decoration: none;
					font-size: 15px;
					color: #083d8c;
					font-family: 'Open Sans', sans-serif;
					font-weight: 700;
					cursor: pointer;
					margin: 0 auto;
					display: inline-block;
				}
			}
			.certificate{
				background-color: #f6f6f6;
				height: 96px;
				max-height: 96px;
				border-radius: 0 0 10px 10px;
				ul{
					margin: 0;
					padding: 27px 0 0 0;
					li{
						display: inline-block;
						width: 50%;
						font-size: 12px;
						line-height: 27px;
						color: #3f3f3f;
						padding: 0;
						margin: 0;
						list-style-type: none;
						font-family: 'Open Sans', sans-serif;
						font-weight: 400;
						&:nth-child(2n+1){
							padding: 0 0 0 20px;
						}
					}
					li.installation{
						&:before{
								content: "";
								background-image: url('assets/img/pros/install.png');
								background-repeat: no-repeat;
								background-size: 12px 13px;
								width: 12px;
								height: 13px;
								background-position: left center;
								display: inline-block;
								margin: 0 8px 0 0;
								top: 1px;
								position: relative;
							}
					}
					li.commercial{
						&:before{
								content: "";
								background-image: url('assets/img/pros/commercial.png');
								background-repeat: no-repeat;
								background-size: 12px 11px;
								width: 12px;
								height: 11px;
								background-position: left center;
								display: inline-block;
								margin: 0 9px 0 0;
								top: 1px;
								position: relative;
							}
					}
					li.residential{
						&:before{
								content: "";
								background-image: url('assets/img/pros/resident.png');
								background-repeat: no-repeat;
								background-size: 13px 12px;
								width: 13px;
								height: 12px;
								background-position: left center;
								display: inline-block;
								margin: 0 9px 0 0;
								top: 1px;
								position: relative;
							}
					}
					li.service{
						&:before{
								content: "";
								background-image: url('assets/img/pros/service.png');
								background-repeat: no-repeat;
								background-size: 13px 13px;
								width: 13px;
								height: 13px;
								background-position: left center;
								display: inline-block;
								margin: 0 8px 0 0;
								top: 1px;
								position: relative;
							}
					}
				}
			}
		}
		
	}
}