/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');

p{
	font-family: 'Open Sans', sans-serif;
    font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;

}

.clrfx{
	clear: both;
	overflow: hidden;
}

body{
	padding: 0;
	margin: 0;
	position: relative;
	min-height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

html{
	height: 100%;
	box-sizing: border-box;
}

.no-padding{
	padding: 0;
}

a, a:before, a:after{transition: all 0.3s linear!important; -webkit-transition: all 0.3s linear!important; box-sizing: border-box!important; -moz-box-sizing: border-box!important;}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('assets/fonts/OpenSans-Bold/OpenSans-Bold.eot');
    src: url('assets/fonts/OpenSans-Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         // url('assets/fonts/OpenSans-Bold/OpenSans-Bold.woff2') format('woff2'),
         url('assets/fonts/OpenSans-Bold/OpenSans-Bold.woff') format('woff'),
         url('assets/fonts/OpenSans-Bold/OpenSans-Bold.ttf') format('truetype'),
         url('assets/fonts/OpenSans-Bold/OpenSans-Bold.svg#LATO-BOLD') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('assets/fonts/OpenSans-Regular/OpenSans-Regular.eot');
    src: url('assets/fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         // url('assets/fonts/OpenSans-Regular/OpenSans-Regular.woff2') format('woff2'),
         url('assets/fonts/OpenSans-Regular/OpenSans-Regular.woff') format('woff'),
         url('assets/fonts/OpenSans-Regular/OpenSans-Regular.ttf') format('truetype'),
         url('assets/fonts/OpenSans-Regular/OpenSans-Regular.svg#LATO-BOLD') format('svg');
    font-weight: normal;
    font-style: normal;
}


modal-container{
    .modal-content{
        border-radius: 0;
    }
    .modal-dialog{
        max-width: 703px;
    }
    .modal-dealer{
        .modal-header{
            border-radius: 0;
            background-color: #083d8c;
            padding: 37px 32px 42px 32px;
            
            .close, .close:focus, .close:hover{
                color: #fff;
                opacity: 0.75;
            }
            .close{
                opacity: 1;
                padding: 0;
            }
            .modal-title{
                p{
                    font-size: 16px;
                    padding: 0;
                    margin: 0;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                    color: #fff;
                }
                h4{
                    font-size: 32px;
                    padding: 0;
                    margin: 0;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 400;
                    color: #fff;
                }
            }
        }
        .modal-body{
            border-radius: 0;
            padding: 30px 32px;
            .modal-form{
                background-color: #f6f6f6;
                padding: 25px 23px;
                .form-content{
                    position: relative;
                    &.phonenumber{
                        max-width: 246px;
                    }
                    .not-valid{
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 21px;
                        height: 21px;
                        border: 1px solid red;
                        border-radius: 100%;
                        &:after{
                            content: '×';
                            position: absolute;
                            top: -4.2px;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            text-align: center;
                            color: red;
                        }
                    }

                    .valid{
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 21px;
                        height: 21px;
                        border-radius: 100%;
                        background-image: url('assets/img/valid.png');
                        background-size: 21px 21px;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }

                .form-control{
                    border-radius: 0;
                    font-size: 15px;
                    color: #616161;
                    position: relative;
                }

                .btn{
                    border-color: #01c7c6;
                    max-width: 63px;
                    line-height: 14px;
                    padding: 7px 20px;
                    font-size: 14px;
                     font-family: 'Open Sans', sans-serif;
                    font-weight: 400;
                    color: #3f3f3f;
                    margin: 0 5px 0 0;
                }

                .btn-yes{
                    background-color: #01c7c6;
                    border-color: #016b6a;
                    color: #fff;
                }

                .btn-send{
                    border: 0;
                    color: #3f3f3f;
                    font-size: 15.97px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                    background-color: transparent;
                    padding: 8px 25px;
                    max-width: 100%;
                    width: 165px;
                    background-image: url('assets/img/btn-submit.png');
                    background-repeat: no-repeat;
                    background-position: 150px center;
                    background-size: 12px 14px;
                }

                
            }
            .detail{
                margin: 0 0 25px 0;
                p{
                    font-size: 15px;
                    padding: 0;
                    margin: 0;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 400;
                    color: #616161;
                }
            }

            .border-text{
                border: 2px solid #ececec;
                margin: 0 0 40px 0;
            }
            
        }

        .modal-footer{
            background-color: #f6f6f6;
            padding: 22px 27px 22px 27px;
            p{
                font-size: 12.5px;
                line-height: 20px;
                padding: 0;
                margin: 0;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                color: #616161;
            }
        }
    }
}
